.content {
    justify-content: flex-start
}

.member-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headers {
    display: flex;
    justify-content: flex-start;
    gap: 235px; /*Space between header elements*/
    margin-left: 40px;
    color: rgba(61, 61, 61, 0.852);
    font-size: 13px;
    margin-bottom: -5px;
}