<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'layout.js' %}"></script>
</head>
<body>
    <div class="sidebar">
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 15px;">
            <a href="{% url 'insights' %}">📊 Insights</a>
            <a href="{% url 'events' %}">📅 Events</a>
            <a onclick="toggleSubMenu()">👥 Manage Members <span id="triangleIcon" class="triangle"></span></a>
            <div class="submenu" id="manageMembersSubMenu">
                <a href="/add-member/">➕ Add Member</a>
                <a href="/members-list/">📋 Members List</a>
            </div>
            <a href="{% url 'membership' %}">🎟 Membership</a>
        </div>
        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout-button">🚪 Logout</a>
        </div>
    </div>
</body>
</html>
