{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'adminApp/css/member_row_card.css' %}">
<link rel="stylesheet" href="{% static 'adminApp/css/style_member_list.css' %}">
{% endblock %}

{% block content %}

<form id="member-search-form", method="GET" action="{% url 'member-search' %}" >
    <div class="search-container">
        <span>🔍</span>
        <input class="search-bar" type="text" placeholder="Search a member.." name="query" value="{{ request.GET.query }}" required>
        <button type="submit">Search</button>
    </div>
</form>

{% if members or results %}
    {% with members as show_members %}
        {% if results %}
            {% with results as show_members %}
            {% endwith %}
        {% endif %}

        <div class="list_of_members">
            <div class="headers">  
                <h3>Name</h3>
                <h3>Membership Type</h3>
            </div>

            <div class="member-list">
                {% for member in show_members %}
                    {% include 'member_information_row_card.html' %}
                {% endfor %}
            </div>

        </div>
    
    {% endwith %}

{% else %}
    <p>No members</p>
{% endif %}

{% endblock %}