{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'adminApp/css/member_row_card.css' %}">
<link rel="stylesheet" href="{% static 'adminApp/css/style_member_list.css' %}">
{% endblock %}

{% block content %}
{% if members %}
    <div class="list_of_members">
        <div class="headers">  
            <h3>Name</h3>
            <h3>Membership Type</h3>
        </div>

        <div class="member-list">
            {% for member in members %}
                {% include 'member_information_row_card.html' %}
            {% endfor %}
        </div>

    </div>
{% else %}
    <p>No members</p>
{% endif %}

{% endblock %}