{% extends 'base.html' %}
{% block js %}
{% load static %}
<script src="{% static 'memberApp/js/scripts.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Your Membership Type</h2>
    <div class="main-content">
        <section class="cards-container">
            <p><strong>Membership Type:</strong> {{ membership_type }}</p>
            <p><strong>Start Date:</strong> {{ start_date }}</p>
            <p><strong>End Date:</strong> {{ end_date }}</p>
        </section>
    </div>
    <h2>Your Membership Benefits</h2>
    <div id="benefits-container">
        {% for benefit in benefits %}
        <div class="main-content">
            <section class="cards-container">
                <div class="benefit-card" data-id="{{ benefit.id }}" id="benefits"
                    data-url="{% url 'use-benefit' benefit.id %}">
                    <h4>{{ benefit.name }}</h4>
                    <p>{{ benefit.description }}</p>
                    <p>Remaining Uses: <span class="remaining">{{ benefit.remaining }}</span></p>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
            </section>
        </div>
        {% empty %}
        <p>You have no available benefits.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}