{% extends 'base.html' %}
{% block meta %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block js %}
{% load static %}
<script src="{% static 'memberApp/js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Available Digital Content Modules</h1>
<ul>
    {% for module in modules %}
    <div class="main-content">
        <section class="cards-container">
            <h2>{{ module.title }}</h2>
            <p>{{ module.description }}</p>
            <p>Duration: {{ module.duration }} minutes</p>

            {% if module.is_booked %}
            <p id="message{{ module.module_id }}" style="color: red;">Already Booked</p>
            {% else %}
            <button id="bookButton{{ module.module_id }}" onclick="bookModule({{ module.module_id }})">
                Book This Module
            </button>
            <p id="message{{ module.module_id }}"></p>
            {% endif %}
        </section>
    </div>
    {% endfor %}
</ul>
{% endblock %}