<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'memberDashboard' %}">🎟 My Membership</a>
        <a href="{% url 'benefits' %}">🎁 My Benefits</a>
        <a href="{% url 'events' %}">📅 Events</a>
        <a href="{% url 'digitalContent' %}">📚 Digital Content</a>
        <a href="{% url 'profile' %}">👤 My Profile</a>
        <a href="{% url 'settings' %}">⚙️ Settings</a>
    </div>
</body>
</html>
