<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Initial Interests</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/initial_interests_form.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="messages">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="initial-interests-form">
        <p id="form-title-text">Please select the interests you are <br> initially interested in below.</p>
        <form name="initial_interests" method="post" action="{% url 'get_interests' %}">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-group">
                    <label><input type="checkbox" name="interests" value="Happening"> Happening</label>
                    <label><input type="checkbox" name="interests" value="Caring"> Caring</label>
                    <label><input type="checkbox" name="interests" value="Learning"> Learning</label>
                    <label><input type="checkbox" name="interests" value="Democracy"> Democracy</label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="interests" value="Member Led"> Member Led</label>
                    <label><input type="checkbox" name="interests" value="Sharing"> Sharing</label>
                    <label><input type="checkbox" name="interests" value="Working"> Working</label>
                </div>
            </div>
            <div class="button-group">
                <button type="submit"  id="save_interests" name="save_interests">Save</button>
            </div>
        </form>
    </div>

</body>
</html>
