<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Initial Interests</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pop_up_style.css' %}">
</head>
<body>
    <div class="popup-form">
        <p id="popup-text">Please select the interests you are <br> initially interested in below.</p>
        <form name="initial_interests" method="post" onsubmit="handleInitialInterests(event);">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-group">
                    <label><input type="checkbox" name="interest_checkbox" value=1> Happening</label>
                    <label><input type="checkbox" name="interest_checkbox" value=3> Caring</label>
                    <label><input type="checkbox" name="interest_checkbox" value=5> Learning</label>
                    <label><input type="checkbox" name="interest_checkbox" value=7> Democracy</label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="interest_checkbox" value=2> Member Led</label>
                    <label><input type="checkbox" name="interest_checkbox" value=4> Sharing</label>
                    <label><input type="checkbox" name="interest_checkbox" value=6> Working</label>
                </div>
            </div>
            <div class="button-group">
                <button type="submit"  id="save_interests" name="save_interests">Save</button>
            </div>
        </form>
    </div>

    {% load static %}
    <script src="{% static 'js/function_popup.js' %}"></script>
</body>
</html>
